################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAPI/TinyUrl.API/obj/Debug/net6.0
/WebAPI/TinyUrl.API/obj
/.vs/tiny-url-app/v17
/.vs
*.db
*.db-shm
*.db-wal
*.vsidx
*.cache
*.editorconfig
