################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAPI/TinyUrl.API/obj/Debug/net6.0
/WebAPI/TinyUrl.API/obj
/.vs/tiny-url-app/v17
/.vs
*.db
*.db-shm
*.db-wal
*.vsidx
*.cache
*.editorconfig
/WebAPI/TinyUrl.API/.vs/TinyUrl.API/CopilotIndices/17.14.1593.33849
/WebAPI/TinyUrl.API/.vs/TinyUrl.API/FileContentIndex
/WebAPI/TinyUrl.API/bin/Debug/net9.0/runtimes/unix/lib/net6.0
/WebAPI/TinyUrl.API/bin/Debug/net9.0/runtimes/win/lib/net6.0
/WebAPI/TinyUrl.API/bin/Debug/net9.0/runtimes/win-arm/native
/WebAPI/TinyUrl.API/bin/Debug/net9.0/runtimes
/WebAPI/TinyUrl.API/bin/Debug/net9.0
/WebAPI/TinyUrl.Repository/bin/Debug/net9.0
/WebAPI/TinyUrl.Repository/obj/Debug/net9.0
/WebAPI/TinyUrl.Repository/obj
WebAPI/TinyUrl.API/.vs/ProjectEvaluation/tinyurl.api.metadata.v9.bin
.gitignore
WebAPI/TinyUrl.API/.vs/ProjectEvaluation/tinyurl.api.strings.v9.bin
WebAPI/TinyUrl.API/.vs/TinyUrl.API/DesignTimeBuild/.dtbcache.v2
WebAPI/TinyUrl.API/.vs/TinyUrl.API/v17/.futdcache.v2
WebAPI/TinyUrl.API/.vs/TinyUrl.API/v17/DocumentLayout.json
WebAPI/TinyUrl.API/.vs/TinyUrl.API/DesignTimeBuild/.dtbcache.v2
WebAPI/TinyUrl.API/.vs/ProjectEvaluation/tinyurl.api.projects.v9.bin
WebAPI/TinyUrl.API/.vs/TinyUrl.API/DesignTimeBuild/.dtbcache.v2
/WebAPI/TinyUrl.Service/obj/Debug/net9.0
/WebAPI/TinyUrl.API/.vs/TinyUrl.API/v17
